{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "syntax-dynamic-import",
    "@babel/plugin-transform-async-to-generator"
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    },
    "preset": {
      "target": "node"
    }
  }
}