@import '../../style/page.scss';

.rel {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 25px;
    left: 50px;
    z-index: 50;
    background: url('~@assets/lh/lh-logo.png') center top no-repeat;
    background-size: contain;
}
.en {
    @extend .logo;
    width: 100px;
    background-image: url('~@assets/lh/allkic-logo.png');
}
.locale {
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 50;
    cursor: pointer;
    &_col {
        color: $dawn;
        font-size: 20px;
    }
}