@import '../../style/page.scss';

.bg {
    @include absolute();
    background-color: $mulberry;
}
.mask {
    @extend .bg;
    background-color: rgba(19, 17, 36, 0.85);
}
@keyframes fadeIn {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 80px;
        opacity: 100%;
    }
}
.content {
    @include absolute();
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 380px;
    &_text {
        height: 80px;
        @include flex();
        justify-content: space-between;
        padding-inline: 50px;
        font-size: 56px;
        font-weight: 600;
        @include absolute();
        top: auto;
        animation: fadeIn 1s;
        span {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $dawn;
        }
    }
    &_col {
        color: $dawn;
    }
}
.footer {
    @include absolute();
    top: auto;
    background-color: $dawn;
    background-image: linear-gradient(rgba(19, 17, 36, 1), rgba(19, 17, 36, 0.65));
    height: 300px;
}